body{
    background-image: url(/img/1d2786885702ca56def6d44d43d29f336a47e798.webp);
    text-align: center;
    background-repeat: none;
    background-size: cover;
}

button {
margin-top: 30px;
border: solid;
border-radius: 30px;
border-color: blueviolet;
color: blueviolet;
text-decoration: none;

    
}
a{text-decoration: none;}
#foto1{
    height: 200px;
    width: 200px;
    margin: auto;
    
}
#foto{
    border: solid;
    border-radius: 500px;
    border-color: blueviolet;
}

img{
    width: 100%;
    height: 100%;
    border: solid;
    border-radius: 500px;
    border-color: blueviolet;
}
#img2{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
}
#img3{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
}
#img4{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;
}

#img5{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 30px;}

